<macz-nav-bar [usuarioId]="usuarioId" (logout)="userLogout()"></macz-nav-bar>
<section class="seccion-contactos">
	<div class="fab-button" *ngIf="esAdmin === true">
		<a class="fab-button__link" routerLink="nuevo">&#xe20d;</a>
	</div>
	<h2 class="encabezado-secundario u-margin-bottom-medium">Lista de contactos de instituciones</h2>
	<div class="row" *ngIf="contacto$ != null; else sindatos">
		<macz-pager *ngIf="total > limit"  
		[page]="page"
		[count]="total"
		[perPage]="limit"
		[pagesToShow]="5"
		[loading]="loading"
		(goNext)="onNextPage()"
		(goPrev)="onPrevPage()"
		(goPage)="goToPage($event)"></macz-pager>
		<div class="tabla-bloques">
			<div class="tabla-bloques__header">
				<div class="tabla-bloques__header-cell--x-small">Foto</div>
				<div class="tabla-bloques__header-cell">Nombre</div>
				<div class="tabla-bloques__header-cell">Institución</div>
				<div class="tabla-bloques__header-cell">Cargo</div>
				<div class="tabla-bloques__header-cell--x-small"></div>
			</div>
			<div class="tabla-bloques__filas">
				<div class="tabla-bloques__fila" [ngClass]="{'fila-impar': impar}" *ngFor="let contacto of paginaContactos; odd as impar">
					<div class="tabla-bloques__columna--centrada">
						<figure class="tabla-bloques__columna-figure" *ngIf="contacto.payload.val().foto.indexOf('assets') < 0;else defaultImg">
							<img src="{{ fotos[contacto.key] }}" alt="" class="tabla-bloques__columna__img">
						</figure>
						<ng-template #defaultImg>
							<figure class="tabla-bloques__columna-figure">
								<img src="{{ contacto.payload.val().foto }}" alt="" class="tabla-bloques__columna__img">
							</figure>
						</ng-template>	
					</div>
					<div class="tabla-bloques__columna">
						{{ contacto.payload.val().nombre }}
					</div>
					<div class="tabla-bloques__columna">
						{{ organizaciones[contacto.payload.val().organizacion].nombre_corto }}
					</div>
					<div class="tabla-bloques__columna">
						{{ contacto.payload.val().cargo }}
					</div>
					<div class="tabla-bloques__columna">
						<a routerLink="ver/{{ contacto.key }}" class="btn-texto">Ver contacto</a>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	<ng-template #sindatos>
		<h3 class="encabezado-terciario">
			No se encontraron datos de Contactos.
		</h3>
	</ng-template>
</section>