<macz-nav-bar [usuario]="usuario"></macz-nav-bar>
<section class="seccion-contactos">
	<div class="fab-button">
		<a class="fab-button__link" routerLink="nuevo">&#xe20d;</a>
	</div>
	<h2 class="encabezado-secundario u-margin-bottom-medium">Lista de contactos de instituciones</h2>
	<div class="row">
		<div class="col-1-de-3  u-margin-bottom-medium" *ngFor="let contacto of contactos | async">
			<div class="tarjeta-contacto tarjeta-contacto--lista">
				<!--
				<figure class="tarjeta-contacto--lista__shape" *ngIf="contacto.payload.val().foto.indexOf('assets') < 0; else imagenAlterna">
					<img src="{{ BuscaFoto(contacto.payload.val().foto) }}" class="tarjeta-contacto--lista__img" >
				</figure>
				<ng-template #imagenAlterna>
					<figure class="tarjeta-contacto--lista__shape">
						<img src="{{ contacto.payload.val().foto }}" class="tarjeta-contacto--lista__img">
					</figure>
				</ng-template> -->

				<div class="tarjeta-contacto--lista__texto">
					<h4 class="encabezado-terciario u-margin-bottom-small">{{ contacto.payload.val().nombre }}</h4>
					<p>
						Institución: {{ contacto.payload.val().organizacion }}
					</p>
					<p>
						Cargo: {{ contacto.payload.val().cargo }}
					</p>
					<p><a routerLink="ver/{{ contacto.key }}" class="btn-texto">Ver contacto</a></p>
				</div>
			</div>
		</div>
	</div>
</section>