<macz-nav-bar [usuario]="usuario"></macz-nav-bar>
<section class="seccion-formulario-proyecto">
	<h2 class="encabezado-secundario u-center-text u-margin-bottom-medium">{{ nuevo==true ? 'Ingreso':'Edición' }} de Proyecto</h2>
	<div class="formulario__container">
		<div class="filter">
				<form #filterForm="ngForm" accept-charset="utf-8" class="form">
					<div class="form__group">
						<fieldset>
							<legend>Tipo de Proyecto:</legend>
							<div class="form__group-option">
								<input #publico class="form__radio-input" id="optPublico" type="radio" name="tipoProy" [checked]="tipoProyecto=='gobierno'" value="gobierno" (click)="setTipoProyecto(publico.value)" >
								<label class="form__radio-label" for="optPublico">
									<span class="form__radio-button"></span>
									Inv. Pub.
								</label>
							</div>
							<div class="form__group-option">
								<input #ong id="optOng" class="form__radio-input" type="radio" name="tipoProy" value="ong" (click)="setTipoProyecto(ong.value)">
								<label class="form__radio-label" for="optOng">
									<span class="form__radio-button"></span>
									ONG
								</label>
							</div>
							<div class="form__group-option">
								<input #privado class="form__radio-input" id="optPrivado" type="radio" name="tipoProy" value="privado" (click)="setTipoProyecto(privado.value)">
								<label class="form__radio-label" for="optPrivado">
									<span class="form__radio-button"></span>
									Emp. Priv.
								</label>
							</div>
						</fieldset>
					</div>
				</form>
			</div>

		<form #formProyecto="ngForm" accept-charset="utf-8">
			<div class="tabla-bloques">
				<div class="tabla-bloques__filas">
					<div class="tabla-bloques__fila--flat">
						<div class="tabla-bloques__columna">
							<div class="formulario__group">
								<label for="anio">Año</label>
								<input class="formulario__control" type="number" name="anio" #anio="ngModel" [(ngModel)]="proyecto.anio" placeholder="2018" required id="anio">
								
							</div>
						</div>
						<div class="tabla-bloques__columna tabla-bloques__columna--controls">
							<div class="formulario__group">
								<label for="cmbOrganizacion">{{ tipoOrg != 'privado' ? 'Institución':'Empresa' }}</label>
								<select class="formulario__control" #id_organizacion="ngModel" [(ngModel)]="proyecto.id_organizacion" name="cmbOrganizacion" id="cmbOrganizacion" required>
									<option *ngFor="let organizacion of organizacione$ | async" value="{{ organizacion.key }}">{{ organizacion.payload.val().nombre_corto | uppercase }}</option>
								</select>
							</div>
						</div>
						<div class="tabla-bloques__columna tabla-bloques__columna--controls">
							<div class="formulario__group">
								<label for="nombre">Nombre Proy.</label>
								<input id="nombre" class="formulario__control" type="text" name="nombre" #nombre placeholder="Nombre Proy." [(ngModel)]="proyecto.nombre" >
								
							</div>
						</div>
					</div>
					<div class="tabla-bloques__fila--flat">
						<div class="tabla-bloques__columna">
							<div class="formulario__group">
								<label for="cmbSector" >Sector</label>
								<select class="formulario__control" #sector="ngModel" [(ngModel)]="proyecto.sector" name="sector" id="cmbSector" required>
									<option *ngFor="let item of sectore$ | async" value="{{ item.key }}">{{ item.payload.val() | uppercase }}</option>
								</select>
							</div>
						</div>
						<div class="tabla-bloques__columna">
							<div class="formulario__group">
								<label for="txtObjetivo">Objetivo</label>
								<input class="formulario__control" id="txtObjetivo" type="text" name="objetivo" #objetivo="ngModel" [(ngModel)]="proyecto.objetivo" placeholder="Objetivo" required>
								
							</div>
						</div>
						<div class="tabla-bloques__columna">
							<div class="formulario__group">
								<label for="txtProtagonistas">Protagonistas</label>
								<input class="formulario__control" #protagonistas="ngModel" id="txtProtagonistas" type="number" name="protagonistas" [(ngModel)]="proyecto.protagonistas"  placeholder="0">
							</div>
						</div>
					</div>
					<div *ngIf="tipoProyecto != 'privado'" class="tabla-bloques__fila--flat">
						<div class="tabla-bloques__columna">
							<div class="formulario__group">
								<label for="dtFechaInicio">Fecha Inicio</label>
								<input id="dtFechaInicio" class="formulario__control" type="date" name="fecha_inicio" [(ngModel)]="proyecto.fecha_inicio">
							</div>
							
						</div>
						<div class="tabla-bloques__columna">
							<div class="formulario__group">
								<label for="dtFechaFinal">Fecha Final</label>
								<input class="formulario__control" type="date" name="fecha_final" [(ngModel)]="proyecto.fecha_final">
							</div>
						</div>
					</div>
					<div class="tabla-bloques__fila--flat">
						<h3 class="encabezado-terciario">Fuente de Financiamiento</h3>
					</div>
					<div *ngIf="tipoProyecto == 'gobierno';else soloMonto" class="tabla-bloques__fila--flat">
						<div class="tabla-bloques__columna">
							<label for="txtCex">Cooperación Ext. C$</label>
							<input class="formulario__control" type="number" name="cooperacion" [(ngModel)]="proyecto.cooperacion" placeholder="0.00">
						</div>
						<div class="tabla-bloques__columna">
							<label for="txtTesoro">Fondos del Tesoro C$</label>
							<input class="formulario__control" type="number" name="tesoro" [(ngModel)]="proyecto.tesoro" placeholder="0.00">
						</div>
						<div class="tabla-bloques__columna">
							<label class="formulario__control">Monto</label>
							<label class="formulario__control" for="">
								{{ proyecto.cooperacion + proyecto.tesoro | currency : 'NIO' : 'symbol-narrow':'4.2-2' }}
							</label>
						</div>
					</div>
					<ng-template #soloMonto>
						<div class="tabla-bloques__fila--flat">
							<div class="tabla-bloques__columna">
								<div class="formulario__group">
									<label for="txtMonto">Monto C$</label>
									<input class="formulario__control" id="txtMonto" #monto="ngModel" type="number" name="monto" [(ngModel)]="proyecto.monto" placeholder="0.00">
								</div>
							</div>
						</div>
					</ng-template>
					<div class="tabla-bloques__fila--flat"></div>
					<div class="tabla-bloques__fila--flat"></div>
				</div>
			</div>
		</form>
	</div>
</section>