<macz-nav-bar [usuarioId]="usuarioId" (logout)="userLogout()" ></macz-nav-bar>
<section class="seccion-formulario-proyecto">
	<h2 class="encabezado-secundario u-center-text u-margin-bottom-medium">{{ nuevo==true ? 'Ingreso':'Edición' }} de Proyecto</h2>
	<div class="formulario__container">
		<div class="filter">
				<form #filterForm="ngForm" accept-charset="utf-8" class="form">
					<div class="form__group">
						<fieldset>
							<legend>Tipo de Proyecto:</legend>
							<div class="form__group-option">
								<input #tipo class="form__radio-input" id="optPublico" type="radio" name="tipoProy" [checked]="tipoProyecto=='publico'" value="publico" (click)="setTipoProyecto(tipo.value)" >
								<label class="form__radio-label" for="optPublico">
									<span class="form__radio-button"></span>
									Inv. Pub.
								</label>
							</div>
							<div class="form__group-option">
								<input #alcaldia id="optAlcaldia" class="form__radio-input" type="radio" name="tipoProy" value="alcaldia" placeholder="" [checked]="tipoProyecto=='alcaldia'" (click)="setTipoProyecto(alcaldia.value)" >
								<label for="optAlcaldia" class="form__radio-label">
									<span class="form__radio-button"></span>
									Alcaldía
								</label>
							</div>
							<div class="form__group-option">
								<input #ong id="optOng" class="form__radio-input" type="radio" name="tipoProy" [checked]="tipoProyecto=='ong'" value="ong" (click)="setTipoProyecto(ong.value)">
								<label class="form__radio-label" for="optOng">
									<span class="form__radio-button"></span>
									ONG
								</label>
							</div>
							<div class="form__group-option">
								<input #privado class="form__radio-input" id="optPrivado" type="radio" name="tipoProy" [checked]="tipoProyecto=='privado'" value="privado" (click)="setTipoProyecto(privado.value)">
								<label class="form__radio-label" for="optPrivado">
									<span class="form__radio-button"></span>
									Emp. Priv.
								</label>
							</div>
						</fieldset>
					</div>
				</form>
			</div>

		<form #formProyecto="ngForm" accept-charset="utf-8">
			<div class="tabla-bloques--form">
				<div class="tabla-bloques__filas">
					<div class="tabla-bloques__fila--flat">
						<div class="tabla-bloques__columna">
							<div class="formulario__group">
								<label for="anio">Año</label>
								<input class="formulario__control" type="number" name="anio" #anio="ngModel" [(ngModel)]="proyecto.anio" placeholder="Año" required id="anio">
								
							</div>
						</div>
						<div class="tabla-bloques__columna tabla-bloques__columna--controls">
							<div class="formulario__group">
								<label for="cmbOrganizacion">Organización</label>
								<select class="formulario__control" #idOrganizacion="ngModel" [(ngModel)]="proyecto.id_organizacion" name="organizacion" id="cmbOrganizacion" required>
									<option *ngFor="let organizacion of organizacione$ | async" value="{{ organizacion.key }}">{{ organizacion.payload.val().nombre_corto | uppercase }}</option>
								</select>
							</div>
						</div>
						<div class="tabla-bloques__columna tabla-bloques__columna--controls">
							<div class="formulario__group">
								<label for="nombre">Nombre Proy.</label>
								<input id="nombre" class="formulario__control" type="text" name="nombre" #nombre placeholder="Nombre Proy." [(ngModel)]="proyecto.nombre" required="true">
								
							</div>
						</div>
					</div>
					<div class="tabla-bloques__fila--flat">
						<div class="tabla-bloques__columna">
							<div class="formulario__group">
								<label for="cmbSector" >Sector</label>
								<select class="formulario__control" #sector="ngModel" [(ngModel)]="proyecto.sector" name="sector" id="cmbSector" required>
									<option *ngFor="let item of sectore$ | async" value="{{ item.key }}">{{ item.payload.val() | uppercase }}</option>
								</select>
							</div>
						</div>
						<div class="tabla-bloques__columna">
							<div class="formulario__group">
								<label for="txtObjetivo">Objetivo</label>
								<input class="formulario__control" id="txtObjetivo" type="text" name="objetivo" #objetivo="ngModel" [(ngModel)]="proyecto.objetivo" placeholder="Objetivo" required>
								
							</div>
						</div>
						<div class="tabla-bloques__columna">
							<div class="formulario__group">
								<label for="txtProtagonistas">Protagonistas</label>
								<input class="formulario__control" #protagonistas="ngModel" id="txtProtagonistas" type="number" name="protagonistas" [(ngModel)]="proyecto.protagonistas"  placeholder="0">
							</div>
						</div>
					</div>
					<div *ngIf="tipoProyecto != 'privado'" class="tabla-bloques__fila--flat">
						<div class="tabla-bloques__columna">
							<div class="formulario__group">
								<label for="dtFechaInicio">Fecha Inicio</label>
								<input id="dtFechaInicio" class="formulario__control" type="date" name="fecha_inicio" min="{{ min_fecha_inicio | date:'longDate' }}" [(ngModel)]="proyecto.fechaInicio" >
							</div>
							
						</div>
						<div class="tabla-bloques__columna">
							<div class="formulario__group">
								<label for="dtFechaFinal">Fecha Final</label>
								<input min="{{ min_fecha_final | date:'longDate' }}" class="formulario__control" type="date" name="fecha_final" [(ngModel)]="proyecto.fechaFinal">
							</div>
						</div>
					</div>
					<div class="tabla-bloques__fila--flat">
						<h3 class="encabezado-terciario">Fuente de Financiamiento</h3>
					</div>
					<div *ngIf="tipoProyecto == 'publico' || tipoProyecto == 'alcaldia';else soloMonto" class="tabla-bloques__fila--flat">
						<div class="tabla-bloques__columna">
							<label for="txtCex">Cooperación Ext. C$</label>
							<input id="txtCex" class="formulario__control" type="number" name="cooperacion" [(ngModel)]="proyecto.cooperacion" placeholder="0.00" required>
						</div>
						<div class="tabla-bloques__columna">
							<label for="txtTesoro">Fondos del Tesoro C$</label>
							<input id="txtTesoro" class="formulario__control" type="number" name="tesoro" [(ngModel)]="proyecto.tesoro" placeholder="0.00" required>
						</div>
						<div class="tabla-bloques__columna">
							<label class="formulario__control">Monto</label>
							<label class="formulario__control" for="">
								{{ proyecto.cooperacion + proyecto.tesoro | currency : 'NIO' : 'symbol-narrow':'4.2-2' }}
							</label>
						</div>
					</div>
					<ng-template #soloMonto>
						<div class="tabla-bloques__fila--flat">
							<div class="tabla-bloques__columna">
								<div class="formulario__group">
									<label for="txtMonto">Monto C$</label>
									<input class="formulario__control" id="txtMonto" #monto="ngModel" type="number" name="monto" [(ngModel)]="proyecto.monto" placeholder="0.00" required>
								</div>
							</div>
							<div class="tabla-bloques__columna">
							<label class="formulario__control" for="">
								{{ proyecto.monto | currency : 'NIO' : 'symbol-narrow':'4.2-2' }}
							</label>
						</div>
						</div>
					</ng-template>
					<div class="tabla-bloques__fila--flat">
						<h3 class="encabezado-terciario">Ubicación</h3>
					</div>
					<div class="tabla-bloques__fila--flat">
						<div class="tabla-bloques__columna">
							<div class="formulario__group">
								<label for="cmbMunicipio">Municipio</label>
								<select class="formulario__control" name="municipio" [(ngModel)]="municipioUbicacion" id="cmbMunicipio" #cmbMunicipio="ngModel" (change)="OnMunicipio_Select()">
									<option *ngFor="let municipio of municipio$ | async" value="{{ municipio.key }}">{{ municipio.payload.val().nombre }}</option>
								</select>
							</div>
						</div>
						<div class="tabla-bloques__columna">
							<div class="formulario__group">
								<label for="cmbComunidad">Comunidad</label>
								<select class="formulario__control" #cmbComunidad="ngModel" [(ngModel)]="comunidadUbicacion" name="comunidad" id="cmbComunidad" (change)="OnComunidad_Select()" >
									<option *ngFor="let comunidad of comunidade$ | async" value="{{ comunidad.key }}">{{ comunidad.payload.val().nombre }}</option>
								</select>
								<input class="btn u-margin-top-small u-item-end" type="button" name="" value="Agregar" (click)="OnAgregarUbicacion_Listener()" [disabled]="disableUbicacion" >
							</div>
						</div>
						
					</div>
					<div class="tabla-bloques__fila--flat">
						<div class="tabla-bloques__columna">
							<h4>Ubicaciones:</h4>
						</div>
						<div class="tabla-bloques__columna" *ngIf="listaSitios !== null && listaSitios.length > 0; else sinUbicaciones" >
							<ul>
								<li class="tabla-bloques__fila--flat" *ngFor="let sitio of listaNombreSitios;index as i">
									<div>{{ sitio | uppercase }}<span (click)="BorraSitio(i)" class="btn icon icon-macz-trash btn-text u-item-end"></span></div>
								</li>
							</ul>
						</div>
						<ng-template #sinUbicaciones>
							<h3 class="encabezado-terciario">Sin Ubicaciones</h3>
						</ng-template>
					</div>
					<div class="tabla-bloques__fila--flat">
						<h3 class="encabezado-terciario">Personal</h3>
					</div>
					<div class="tabla-bloques__fila--flat">
						<div class="tabla-bloques__columna">
							<div class="formulario__group">
								<input id="txtMasculino" class="formulario__control" type="number" name="masculino" [(ngModel)]="personal.masculino" placeholder="Masculino">
								<label class="formulario__label" for="txtMasculino">Masculino</label>
							</div>
						</div>
						<div class="tabla-bloques__columna">
							<div class="formulario__group">
								<input class="formulario__control" id="txtFemenino" type="number" name="femenino" [(ngModel)]="personal.femenino" placeholder="Femenino">
								<label class="formulario__label" for="txtFemenino">Femenino</label>
							</div>
						</div>
					</div>
					<div class="tabla-bloques__fila--flat" *ngIf="tipoProyecto=='publico'">
						<div class="tabla-bloques__columna">
							<div class="formulario__group">
								<input id="txtMestizo" class="formulario__control" type="number" name="mestizo" [(ngModel)]="personal.mestizo" placeholder="Mestizo">
								<label for="txtMestizo" class="formulario__label">Mestizo</label>
							</div>
						</div>
						<div class="tabla-bloques__columna">
							<div class="formulario__group">
								<input id="txtMiskitu" class="formulario__control" type="number" name="miskitu" [(ngModel)]="personal.miskitu" placeholder="Miskitu">
								<label for="txtMestizo" class="formulario__label">Miskitu</label>
							</div>
						</div>
						<div class="tabla-bloques__columna">
							<div class="formulario__group">
								<input id="txtCreole" class="formulario__control" type="number" name="creole" [(ngModel)]="personal.creole" placeholder="Creole">
								<label for="txtCreole" class="formulario__label">Creole</label>
							</div>
						</div>
					</div>
					<div class="tabla-bloques__fila--flat" *ngIf="tipoProyecto=='publico'">
						<div class="tabla-bloques__columna">
							<div class="formulario__group">
								<input id="txtGarifuna" class="formulario__control" type="number" name="garifuna" [(ngModel)]="personal.garifuna" placeholder="Garifuna">
								<label for="txtGarifuna" class="formulario__label">Garifuna</label>
							</div>
						</div>
						<div class="tabla-bloques__columna">
							<div class="formulario__group">
								<input id="txtUlwa" class="formulario__control" type="number" name="ulwa" [(ngModel)]="personal.ulwa" placeholder="Ulwa">
								<label for="txtUlwa" class="formulario__label">Ulwa</label>
							</div>
						</div>
						<div class="tabla-bloques__columna">
							<div class="formulario__group">
								<input id="txtRama" class="formulario__control" type="number" name="rama" [(ngModel)]="personal.rama" placeholder="Rama">
								<label for="txtRama" class="formulario__label">Rama</label>
							</div>
						</div>
					</div>
					<div class="tabla-bloques__fila--flat">
						<div class="tabla-bloques__columna">
							<input class="btn" type="button" (click)="OnGuardar_Listener()" name="guardar" value="{{ nuevo === true ? 'Ingresar':'Guardar' }}" [disabled]="!formProyecto.form.valid" >
							<input class="btn" type="reset" name="limpiaFormato" value="Limpiar">
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</section>