<div class="login">
	<macz-nav-bar [usuario]="usuario"></macz-nav-bar>
	<div class="login-container">
		<div class="u-center-text u-margin-bottom-small">
			<h3 class="titulo--terciario">Ingreso</h3>
		</div>
		<form class="form" #loginForm="ngForm" accept-charset="utf-8">
			<div class="form__group">
				<input class="form__input" #correo="ngModel" ngModel name="correo" type="email" required placeholder="Correo-e" id="correo">
				<label class="form__label" for="correo">Correo-e</label>
				<div class="mensaje mensaje--error" *ngIf="correo.invalid && (correo.dirty || correo.touched)" >
					<div *ngIf="correo.errors.required">
						El campo correo-e es requerido
					</div>
				</div>
			</div>
			<div class="form__group">
				<input class="form__input" type="password" #password="ngModel" ngModel name="password" value="" placeholder="Contraseña" required minlength="8" id="password">
				<label class="form__label" for="password">Contraseña</label>
				<div class="mensaje mensaje--error" *ngIf="password.invalid && (password.dirty || password.touched)" >
					<div *ngIf="password.errors.required">
						El campo contraseña es requerido
					</div>
					<div *ngIf="password.errors.minlength">
						La Contraseña debe tener 8 caracteres mínimo
					</div>
				</div>
			</div>
			<div class="login__button">
				<a href="#" *ngIf="loginForm.form.valid" class="btn btn--white" (click)="loginCheck($event, loginForm)">Entrar</a>
			</div>
		</form>

		<p class="login__info">Llene los campos correctamente para que se active el botón de ingreso.</p>
		<p class="login__info">Si olvida su contraseña, comuniquese con el administrador al 83966317</p>
	</div>
</div>



