<div class="contenido">
	
	<div class="form-container">
		<form #loginForm="ngForm" accept-charset="utf-8">
			<div class="form-container__group">
				<label class="form-container__label" for="correo">Correo-e</label>
				<input class="form-container__control" #correo="ngModel" ngModel name="correo" type="email" required placeholder="ejemplo@misitio.com" id="correo">
				<div class="mensaje mensaje--error" *ngIf="correo.invalid && (correo.dirty || correo.touched)" >
					<div *ngIf="correo.errors.required">
						El campo correo-e es requerido
					</div>
				</div>
			</div>
			<div class="form-container__group">
				<label class="form-container__label" for="password">Contraseña</label>
				<input class="form-container__control" type="password" #password="ngModel" ngModel name="password" value="" placeholder="Contraseña" required minlength="8" id="password">
				<div class="mensaje mensaje--error" *ngIf="password.invalid && (password.dirty || password.touched)" >
					<div *ngIf="password.errors.required">
						El campo contraseña es requerido
					</div>
					<div *ngIf="password.errors.minlength">
						Debe tener 8 caracteres mínimo
					</div>
				</div>
			</div>
			<a href="#" *ngIf="loginForm.form.valid" class="btn btn--white" (click)="loginCheck($event, loginForm)">Entrar</a>
		</form>
	</div>
</div>



