<div class="overlay" [class.overlay--active]="dialogo_borrar">
	<div class="overlay__close" (click)="dialogo_borrar=false">
		<span class="overlay__icon">&#xe00e;</span>
	</div>
	<div class="dialog">
      <h3 class="dialog__titulo u-margin-bottom-medium">Eliminar Contacto</h3>
      <p>
      	Se eliminará el contacto de la base de datos. ¿Desea Continuar?
      </p>
      <a href="#" class="btn" (click)="EliminarContacto($event)">Si</a><a href="#" class="btn" (click)="CerrarModal($event)">No</a>
    </div>
</div>