//Colores
$color-primario: #55c57a;
$color-primario-claro: #7ed56f;
$color-primario-oscuro: #28b485;

$color-secundario-claro: #ffb900;
$color-secundario-oscuro: #ff7730;

$color-terciario-claro: #2998ff;
$color-terciario-oscuro: #5643fa;
$color-terciario-especial: #007EC3;

$color-gris-oscuro: #777;
$color-gris-oscuro-2: #999;
$color-gris-oscuro-3: #333;
$color-blanco: #fff;
$color-negro: #000;
$color-gris-claro: #eee;
$color-gris-claro-1: #f7f7f7;


$color-rojo-oscuro: #bc1339;
$color-rosa-especial: #E63183;
$color-verde-musgo: #060;

//Fuentes
$fuente-por-default: 1.6rem;

//Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//Valores
$contenido-width:114rem;