.tabla-bloques {

	display: table;
	width: 90%;
	padding: 1rem;
	border: 1px solid $color-gris-claro-2;
	margin: 5rem auto;

	&--form {
		border-spacing: 3rem;
	}

	&__header {
		
		display: table-header-group;
		font-size: 2rem;
		font-weight: 400;

		&-cell {
			display: table-cell;
			width: 6rem;
			border: 1px solid $color-gris-claro-2;

			&--small {
				display: table-cell;
				width: 3rem;
				border: 1px solid $color-gris-claro-2;
			}

			&--x-small {
				display: table-cell;
				width: 1.5rem;
				border: 1px solid $color-gris-claro-2;
			}
		}
		
	}

	&__filas {
		display: table-row-group;
	}

	&__fila {
		display: table-row;
		transition: all .2s;

		&--flat{
			display: table-row;
		}

		&:hover {
			background-color: rgba($color-gris-claro, .6);
			color: $color-blanco;
		}
	}

	&__columna {
		
		display: table-cell;

		&--controls {
			margin: 3rem;
		}

		&--centrada {
			margin: 0 auto;
		}
		
		&-figure {
			@extend %figure_shape;
			display: inline-block;
		}

		&__img {
			backface-visibility: hidden;
			width: 100%;
		}
		
	}
}