<section class="home">
	<macz-nav-bar [usuario]="usuario"></macz-nav-bar>
	<h2 class="encabezado-secundario u-margin-bottom-medium u-margin-top-big">Agenda Autonómica del Desarrollo</h2>
	<div class="home__text">
		<div class="home__content">
			
			<p>
				En este apartado se ofrece información sobre los diferentes proyectos que se ejecutan en la región, las instituciones que los ejecutan y los funcionarios al frente de dichas instituciones.
			</p>
			<p>
				Se podrá obtener información sobre inversión privada e inversión pública de proyectos de desarrollo en la regíón.
			</p>

			<!--
			<p>Los habitantes de las Comunidades de la Costa Atlántica tienen derecho a:</p>

			<ol class="home__list">
				<li class="home__list-element">
					La absoluta igualdad de derechos y deberes entre sí, independientemente de su número poblacional y nivel de desarrollo.
				</li>
				<li class="home__list-element">
					Preservar y desarrollar sus lenguas, religiones y culturas.
				</li>
				<li class="home__list-element">
					Usar, gozar y disfrutar de las aguas, bosques y tierras comunales dentro de los planes de desarrollo nacional.
				</li>
				<li class="home__list-element">
					Desarrollar libremente sus organizaciones sociales y productivas conforme a sus propios valores.
				</li>
				<li class="home__list-element">
					La educación en su lengua materna en español, mediante programas que recojan su patrimonio histórico, su sistema de valores, las tradiciones y características de su medio ambiente, todo de acuerdo con el sistema educativo nacional.
				</li>
				<li class="home__list-element">
					Formas comunales, colectivas o individuales de propiedad y la trasmisión de la misma.
				</li>
				<li class="home__list-element">
					Elegir y ser elegidos autoridades propias de las Regiones Autónomas.
				</li>
				<li class="home__list-element">
					Rescatar en forma científica y en coordinación con el sistema nacional de salud, los conocimientos de medicina natural acumulados a lo largo de su historia.
				</li>
			</ol>
			<cite>&ndash; Ley #28 (Estatuto de Autonomía de las Regiones de la Costa Caribe), Arto. 11 &ndash; </cite> -->
		</div>
	</div>
</section>