<section class="home">
	<macz-nav-bar [usuarioId]="usuarioId" (logout)="userLogout()" ></macz-nav-bar>
	<h2 class="encabezado-secundario u-margin-bottom-medium u-margin-top-big">Agenda Autonómica del Desarrollo</h2>
	<div class="home__text">
		<div class="home__content">
			
			<p>
				En este apartado se ofrece información sobre los diferentes proyectos que se ejecutan en la región, las instituciones que los ejecutan y los funcionarios al frente de dichas instituciones.
			</p>
			<p>
				Se podrá obtener información sobre inversión privada e inversión pública de proyectos en la R.A.C.C.S.
			</p>
			<p>
				Ingrese con sus credenciales de usuario dando click en el ícono <span class="icon icon-macz-sign-in-1"></span> e ingrese su dirección de correo y contraseña para tener acceso a las opciones de información.
			</p>

		</div>
	</div>
</section>